*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #fdeeec;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar{
    padding: 40px;
}
.loginform{
    width: 32%;
    /* height: 450px; */
    background-color: white;
    margin-top: 5%;
}
.loginImg img {
    width: 100%;
} 
.userinfo{
    padding: 25px;
}
.userinfo input{
    width: 100%;
    padding: 10px;
    margin-top: 2%;
}
.userinfo p{
    font-size: 12px;
    padding: 10px 0px;
}
.userinfo p > b{
    color: #ff3f6c;
}
.submit {
    background-color: #ff3f6c;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
}

/* *****media Query******* */
@media screen and (max-width:770px) {
    .navBar2{
        display: none;
    }
    .navBar1{
        display: none;
    }
    .loginform{
        width: 70%;
    }
}