* {
  margin: 0;
  padding: 0;
}
.main {
  height: 2500px;
}
.navBar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0 0 5px rgb(196, 196, 196);
  z-index: 1;
}
.navBar0 img {
  width: 53px;
  height: 50px;
}
.navBar1 {
  display: flex;
  position: absolute;
  left: 130px;
}
.navBar1 li {
  padding-right: 25px;
  font-size: 13px;
  list-style: none;
  font-weight: 500;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
.navBar1 > li:nth-child(6) {
  margin-top: -4px;
}
.navBar1 > li:nth-child(6) > sup {
  color: red;
}
.navBar2 {
  position: relative;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 4px;
  margin-left: 430px;
  width: 30%;
  background-color: whitesmoke;
}
.navBar2 > i {
  font-size: 15px;
  margin-left: 10px;
}
.navBar2 input {
  border: none;
  padding: 10px;
  width: 300px;
  outline: none;
  background-color: whitesmoke;
  padding-left: 10px;
}
.navBar3 {
  display: flex;
  list-style: none;
  position: relative;
  right: 7%;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
.navBarLast {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.navBarLast p {
  font-weight: 600;
  padding-top: 3px;
  font-size: 12px;
}
.floater1 {
  position: fixed;
  bottom: 14%;
  right: 2%;
  /* border: 2px solid red; */
  background-color: #1d85fc;
  padding: 20px;
  border-radius: 50%;
  height: 4%;
  color: white;
  font-size: 25px;
}
.title {
  margin-top: 8%;
  margin-left: 2%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
}
.title > p:nth-child(1) {
  margin-bottom: 10px;
}
.titleHead {
  display: flex;
  margin-top: 25px;
  width: 100%;
  margin-left: 2%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.titleHead > div:nth-child(1) {
  font-size: 12px;
}
.titleHead > div:nth-child(2) {
  opacity: 0.8;
  margin-left: 14%;
}
.titleHead > div:nth-child(2) > select {
  border: none;
  outline: none;
  margin-right: 10px;
}
.titleHead > div:nth-child(2) > select:hover {
  border-radius: 40px;
  background-color: lightgray;
}
.titleHead > div:nth-child(3) {
  margin-left: 34%;
  border: 1px solid rgb(177, 177, 177);
  padding: 5px;
}
.titleHead > div:nth-child(3) > select {
  border: none;
  outline: none;
  width: 250px;
}
.content {
  margin-top: 10px;
  display: flex;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.filter {
  border-top: 1px solid rgb(205, 205, 205);
  border-right: 1px solid rgb(205, 205, 205);
  /* border-bottom: 1px solid rgb(205, 205, 205); */
  width: 20%;
}

.filterList {
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 100%;
  padding-bottom: 20px;
  margin-top: 20px;
}
.filterList > div {
  display: flex;
  margin-top: 10px;
}
.filterList > h5 {
  font-size: 12px;
  margin-left: 25px;
}
.filterList > div > input {
  width: 18px;
  margin-right: 10px;
  opacity: 0.5;
  margin-left: 25px;
}
.filterList > div > p {
  font-size: 13px;
}
.filterList>p {
  font-size: 14px;
  color: red;
  margin-left: 50px;
  margin-top: 10px;
}
.filterList > div > p > small {
  font-size: 10px;
  opacity: 0.9;
}
.filter > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}
.filter > div:nth-child(2) > div:nth-child(1) > i {
  font-size: 14px;
  background-color: rgb(228, 228, 228);
  padding: 7px;
  border-radius: 50px;
  color: gray;
}
.filter > div:nth-child(4) > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}
.filter > div:nth-child(4) > div:nth-child(1) > i {
  font-size: 14px;
  background-color: rgb(228, 228, 228);
  padding: 7px;
  border-radius: 50px;
  color: gray;
}
.fa-circle {
  margin-right: 5px;
  font-size: 15px;
}
.filter > div:nth-child(4) >div:nth-child(3)>i{
  color: blue;
}
.filter > div:nth-child(4) >div:nth-child(4)>i{
  color: white;
  border: 1px solid black;
  border-radius: 50px;
  height: 15px;
}
.filter > div:nth-child(4) >div:nth-child(5)>i{
  color: navy;
}
.filter > div:nth-child(4) >div:nth-child(6)>i{
  color: green;
}
.filter > div:nth-child(4) >div:nth-child(7)>i{
  color: red;
}
.filter > div:nth-child(4) >div:nth-child(8)>i{
  color: grey;
}
.filter > div:nth-child(6)>p {
  font-size: 11px;
  width: 70%;
  text-align: center;
  padding: 7px;
  color: black;
  border: 1px solid gray;
  border-radius: 3px;
  margin-left: 20px;
}
.filter > div:nth-child(6)>i{
  font-size: 10px;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}
.content>div:nth-child(2) {
  width: 80%;
}
.images {
  border-top: 1px solid rgb(205, 205, 205);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.images > div {
  width: 22%;
  height: 380px;
  /* border: 1px solid red; */
  margin-top: 20px;
}
.proFromJS{
  width: 22%;
  height: 380px;
  /* border: 1px solid red; */
  margin-top: 20px;
}
.images > div > img {
  width: 100%;
}
.images > div > h4 {
  font-size: 15px;
  margin-left: 10px;
  margin-top: -20px;
}
.images > div > p {
  font-size: 13px;
  opacity: 0.8;
  margin-left: 10px;
}
.images > div > :nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  width: 30%;
  border: 2px solid gray;
  position: relative;
  top: -10%;
  left: 5%;
  background-color: #dedede;
  border-radius: 2px;
  padding: 3px;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.images > div > :nth-child(2) > i {
  color: green;
  border-right: 2px solid;
  padding-right: 3px;
}
.images > div > :nth-child(5) {
  font-size: 12px;
  display: flex;
  width: 70%;
  margin-left: 8px;
  align-items: center;
  justify-content: space-around;
}
.images > div > :nth-child(5) > s {
  font-size: 11px;
}
.images > div > :nth-child(5) > p {
  font-size: 11px;
  color: orange;
}
.pages {
  border-top: 1px solid rgb(205, 205, 205);
  display: flex;
  width: 96%;
  margin: auto;
  margin-top: 30px;
}
.pages>div {
  margin-top: 20px;
  text-align: center;
  align-items: center;
}
.pages>div:nth-child(1){
  font-size: 13px;
  width: 12%;
}
.pages>div:nth-child(2){
  font-size: 15px;
  font-weight: bold;
  margin-left: 18%;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.pages>div:nth-child(2)>p:nth-child(1){
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 3px;
}

.pages>div:nth-child(3){
  font-size: 15px;
  font-weight: bold;
  margin-left: 10%;
  width: 10%;
  border: 1px solid rgb(205, 205, 205);
  padding: 5px;
}
.pages>div:nth-child(3)>i{
  margin-left: 5px;
  margin-top: 2px;
}

/* ******Footer**** */
#footer{
  width: 100%;
  height: 500px;
  margin-top: 50px;
  /* border: 1px solid black; */
}

#footer > div{
  margin: 70px 70px;
  /* border: 1px solid red; */
  height: 400px;
  display: flex;
}

#footer > div > div{
  margin: 40px 40px;
  /* border: 1px solid red; */
  height: 100%;
}

#footer > div > div:nth-child(1) > h4{
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

#footer > div > div:nth-child(1) > h5{
  font-size: 0.8em;
  text-transform: capitalize;
  font-weight: 200;
  color: rgb(46,46,46);
}

#footer > div > div:nth-child(1) >h5:nth-child(8){
  margin-bottom: 20px;
}


#footer > div > div:nth-child(2) > h4{
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

#footer > div > div:nth-child(2) > h5{
  font-size: 0.8em;
  text-transform: capitalize;
  font-weight: 200;
  color: rgb(46,46,46);
}

#footer > div > div:nth-child(3){
  width: 25%;
}

#footer > div > div:nth-child(3) > h4{
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

#footer > div > div:nth-child(3) > div{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  /* border: 1px solid blue; */
}

#footer > div > div:nth-child(3) > div > img{
  width: 60%;
  height: 50px;
}

#footer > div > div:nth-child(3) > div > i{
  margin-right: 10px;
  color: grey;
}

#footer > div > div:nth-child(4){
  margin-left: 50px;
}

#footer > div > div:nth-child(4) > div:nth-child(1){
  width: 53%;
  margin-bottom: 60px;
}

#footer > div > div:nth-child(4) > div:nth-child(1) > h4{
  font-size: 0.8em;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  color: rgb(46,46,46);
}

#footer > div > div:nth-child(4) > div:nth-child(1) > h4 > b{
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}

#footer > div > div:nth-child(4) > div:nth-child(2){
  width: 53%;
}

#footer > div > div:nth-child(4) > div:nth-child(2) > h4{
  font-size: 0.8em;
  color: rgb(46,46,46);
}

#footer > div > div:nth-child(4) > div:nth-child(2) > h4 > b{
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}
