* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
#navBar {
    height: 80px;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navBar>div {
    /* border: 1px solid red; */
    margin: auto;
    text-align: center;
}
#navBar>div:nth-child(1) {
    width: 10%;
    text-align: left;
}
#navBar>div:nth-child(1)>img{
    width: 35%;
}
#navBar>div:nth-child(2){
    width: 30%;
    margin-right: 0;
}
#navBar>div:nth-child(2)>div {
    width: 88%;
    display: flex;
    justify-content: space-around;
    color: gray;
    align-items: center;
    margin: auto;
}
#navBar>div:nth-child(2)>div>h4 {
    font-size: 10px;
    letter-spacing: 4px;
}
#navBar>div:nth-child(2)>div>:nth-child(1){
    margin-top: 8px;
    border-bottom: 2px solid rgb(46, 221, 46);
    padding-bottom: 4px;
    color: rgb(46, 221, 46);
}
#navBar>div:nth-child(2)>div>p {
    font-size: 10px;
}
#navBar>div:nth-child(3) {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#navBar>div:nth-child(3)>h4 {
    font-size: 11px;
    letter-spacing: 4px;
    color: gray;
}
#navBar>div:nth-child(3)>div {
    width: 10%;
}
#navBar>div:nth-child(3)>div>img {
    width: 100%;
}
#main>div:nth-child(2) {
    display: flex;
    border: 1px solid;
    width: 75%;
    margin: auto;
    height: 800px;
}
#main>div:nth-child(2)>div:nth-child(1){
    width: 64%;
}
#main>div:nth-child(2)>div:nth-child(1)>div:nth-child(1){
    border: 1px solid #d6d6d6;
    width: 97%;
    margin-top: 20px;
    border-radius: 3px;
}
#main>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div {
    display: flex;
    width: 95%;
    margin: auto;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
#main>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div>p:nth-child(1){
    font-size: 13px;
    font-weight: 700;
}
#main>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div>:nth-child(2){
    font-size: 11px;
    font-weight: bold;
    border: 1px solid orange;
    border-radius: 2px;
    color: orange;
    padding: 10px;
}
#main>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div>:nth-child(2):hover{
    font-size: 11px;
    font-weight: bold;
    border: 1px solid orange;
    background-color: rgb(255, 246, 230);
    border-radius: 2px;
    color: orange;
    padding: 10px;
}
#main>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {
    border: 1px solid #d6d6d6;
    width: 97%;
    height: 90;
    margin-top: 20px;
    border-radius: 3px;
}
#main>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>div {
    display: flex;
    margin-top: 20px;
}

/* *******RIGHT****** */
#main>div:nth-child(2)>div:nth-child(2){
    border-left: 1px solid #d6d6d6;
}